# Ignorar todo lo demás
*

# Excepto los tutoriales y sus archivos
!Tutorial_1/
!Tutorial_1/*.py
!Tutorial_1/*.png

!Tutorial_2/
!Tutorial_2/*.py

# Excepto .gitignore y README
!.gitignore
!README.md

# Ignorar basura de Python
__pycache__/
*.pyc